<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{Public/headTest :: headTest}"/>

<body>
<!--Header chung cho SHopGame  -->
	<header th:replace="~{Public/headerTest :: headerTest}"></header>

<body>
	<h1>Thanh toán thành công hãy vào lại lịch sử mua hàng để xem Tài khoản và mật khẩu</h1>
	
<script>
   let sitekey;
</script>
<!-- Js Login Modal -->
<div th:replace="~{Public/loginModal :: login}"></div>

<footer th:replace="~{Public/footerTest :: footerTest}"></footer>
   
	
<!-- Javascript -->
<div th:replace="~{Public/scripts :: scripts}"></div>
</body>
</html>