<div th:fragment="scripts" xmlns:th="http://www.thymeleaf.org">

	    <script th:src="@{test/js/bootstrap.min.js}"></script>
	    <script th:src="@{test/js/toastr.min.js}"></script>
	    <script th:src="@{test/js/sw2.js}"></script>
	    <script th:src="@{test/js/select-nice.js}"></script>
	    
	    <script th:src="@{test/js/popper.min.js}"></script>
	    <script th:src="@{test/js/tippy-bundle.umd.js}"></script>
	    <script th:src="@{test/js/jquery-steps.js}"></script>
	    <script th:src="@{test/js/easing.js}"></script>
	    <script th:src="@{test/js/nouislider.min.js}"></script>
	
	    <script th:src="@{test/js/fancybox.umd.js}"></script>
	    <script th:src="@{test/js/jquery.fancybox.min.js}"></script>
	    <script th:src="@{test/js/OwlCarousel2.min.js}"></script>
	    <script th:src="@{test/js/slick.min.js}"></script>
	    <script th:src="@{test/js/moment.js}"></script>
	    <script th:src="@{test/js/bootstrap-datetimepicker.js}"></script>
	    <script th:src="@{test/js/validate.js}"></script>
	    <script th:src="@{test/js/form-validate.js}"></script>
	    <script th:src="@{test/js/vi.js}"></script>
	    <script th:src="@{test/js/main_1.js}"></script>
	    <script th:src="@{test/js/header_1.js}"></script>
	    <script th:src="@{test/js/thegioididong.js}"></script>
	    <script th:src="@{test/js/notify.js}"></script>
	    <script th:src="@{test/js/instruct.js}"></script>
	    <script th:src="@{test/js/swiper-slider-conf.js}">
	    </script>
	    <script th:src="@{test/js/swiper-banner.js}"></script>
	    <script th:src="@{test/js/main_2.js}"></script>
	    <script th:src="@{test/js/handle.js}">
	    </script>
	    <script th:src="@{test/js/style.js}"></script>
	    <script th:src="@{test/js/getQuantity.js}"></script>
	    <script th:src="@{test/js/toctoc.js}"></script>
	    
	    <script th:src="@{test/js/notification.js}"></script>
	    <script th:src="@{test/js/store-card.js}"></script>
	    <script th:src="@{test/js/top_charge.js}"></script>
	    <script th:src="@{test/js/detail-image-home.js}"></script>
	    <script th:src="@{test/js/account-content.js}"></script>

</div>