.bg-voucher{
    background: #E6EFFF;
    color: #1990FF;
}

.bg-voucher-modal{
    background: #E6EFFF;
    color: #0E3EDA;
}

.text-vouc-modal{
    color: #434657;
}

.btn-see-more{
    color: var(--primary-color);
}

.btn-see-more:hover{
    cursor: pointer;
    text-decoration: underline var(--primary-color);
}
.data_discount{
    color: #212529;
}

.refresh_discount:hover, .clear_discount:hover{
    background-color: var(--primary-hover-color);
    color: #fff;
}

.refresh_discount, .clear_discount{
    min-width: 48px;
    background: #0E3EDA;
    color: #fff;
}

.refresh_discount:disabled, .clear_discount:disabled {
    border: 1px solid var(--button-disable-color);
    background-color: var(--button-disable-color);
    color: var(--button-text-disable-color);
}
.cursor-pointer{
    cursor: pointer;
}

.discount_code, .discount_code_mob{
    text-transform: uppercase;
}
