.cont-items{
    border-radius: 26px;
    background-color: rgb(119, 119, 119);
    width: 84px;
    height: 84px;
}
.img-items{
    background-size: cover;
    background-position: 50% 50%;
}
.absolute-full{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.cont-img-items{
    width: 40px;
    height: 40px;
}
.text-items{
    overflow-wrap: anywhere;
}
.scroll, .scroll-x, .scroll-y{
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
}
.scroll{
    overflow: auto;
}
.no-wrap{
    flex-wrap: nowrap;
}
.wrap{
    flex-wrap: wrap;
}
.btn-items{
    height: 56px;
    color: #d2d2da;
    cursor: pointer;
    border-radius: 28px;
    background: transparent
}
.focus-helper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-radius: inherit;
    opacity: 0;
    transition: background-color 0.3s cubic-bezier(0.25,0.8,0.5,1), opacity 0.4s cubic-bezier(0.25,0.8,0.5,1);
}
.outline-0 {
    outline: 0;
}
.radio__label {
    padding-left: 0.5rem;
}
.radio_inner {
    width: 0.5em;
    min-width: 0.5em;
    height: 0.5em;
}
.non-selectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.q-radio__check {
    transform: scale3d(1, 1, 1);
}
.radio__bg{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.radio__bg path {
    transform-origin: 50% 50%;
    transform: scale3d(0, 0, 1);
    transition: transform 0.22s cubic-bezier(0,0,0.2,1) 0ms;
}
.radio_inner::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    background: #000;
    opacity: 0.12;
    transform: scale3d(0, 0, 1);
    transition: transform 0.22s cubic-bezier(0,0,0.2,1) 0ms;
}
.radio_inner_active {
    color: #f03827;
}
.border-50 {
    border-radius: 50%;
}
.focus-helper:before{
    background: #000;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: inherit;
    transition: background-color 0.3s cubic-bezier(0.25,0.8,0.5,1), opacity 0.6s cubic-bezier(0.25,0.8,0.5,1);
}
.focus-helper::after{
    background: #fff;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: inherit;
    transition: background-color 0.3s cubic-bezier(0.25,0.8,0.5,1), opacity 0.6s cubic-bezier(0.25,0.8,0.5,1);
}
.btn__wrapper{
    padding: 4px 16px;
    min-height: 48px;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    text-transform: none;
}
.btn__wrapper:before {
    box-shadow: none;
    border: 1px solid currentColor;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: inherit;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
}
.btn__content{
    transition: opacity 0.3s;
    z-index: 0;
}
.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.avatar{
    position: relative;
    vertical-align: middle;
    display: inline-block;
    border-radius: 50%;
    font-size: 48px;
    height: 1em;
    width: 1em;
}
.features-label{
    color: #303030;
}
.overflow-hidden{
    overflow: hidden
}
.avatar__content{
    border-radius: inherit;
    height: inherit;
    width: inherit;
    font-size: 0.5em;
    line-height: 0.5em;
}
.q-img {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}
.img__image{
    background-size: contain;
    background-position: 50% 50%;
}
.img__content{
    overflow: hidden;
    border-radius: inherit;
}
.swiper-service-image-home{
    overflow-y: hidden;
}

@media screen and (max-width: 992px) {
    .cont-items{
        width: 50px;
        height: 50px;
        border-radius: 10px;
    }
    .cont-img-items{
        width: 30px;
        height: 30px;
    }
}

.scroll-container {
    overflow-x: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.scroll-container::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, and Opera */
}

.categories {
    display: flex;
    white-space: nowrap;
    gap: 10px;
}

.category {
    flex: 0 0 auto;
    padding: 8px 16px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 24px;
    border: 1px solid #cfcfcf;
}
.category:hover {
    background-color: transparent;
    color: var(--text-title-color);
}

.category img {
    width: 40px;
    height: 40px;
}

.search-bar-service {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    height: 66px;
    border-radius: 34px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0 0.14px 2.29266px rgba(0, 0, 0, 0.03), 0 0.37px 4.42626px rgba(0, 0, 0, 0.05), 0 3px 7px rgba(0, 0, 0, 0.09);
}

.search-bar-service input[type="text"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
#search-header-service-home {
    background: transparent;
    border: transparent;
}
.text-result {
    color: #777;
}
/* Container for the results and sorting options */
.sort-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

/* Styling for the results count */
.results-count {
    font-size: 15px;
    color: #555;
}

/* Styling for the sorting options */
.sort-options {
    display: flex;
    align-items: center;
}

.sort-option {
    font-size: 14px;
    color: #888;
    margin-left: 12px;
    cursor: pointer;
}

.sort-option input[type="radio"] {
    margin-right: 5px;
}

.sort-option label {
    margin: 0;
    cursor: pointer;
}

input[type=radio] {
    display: inline;
}

.sort-radio {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.sort-radio:checked {
    accent-color: red;
}

/* .sort-radio:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
} */

.sort-option label:hover {
    cursor: pointer;
}

.bor-form-search {
    border: 1px solid var(--ghost-border-default-color) !important;
}

.active-border-sort {
    border-color: var(--border-item-theme);
}

@media (max-width: 600px) {
    .search-bar {
        flex-direction: column;
        gap: 5px;
    }
}


