.menu-category li{
    list-style: none;
    background-color: var(--bg-header);
}

.menu-list a{
    transition: .2s;
    /*line-height: 60px;*/
}

.menu-category a .active{
    background-color: var(--bg-item-hover);

}
.menu-category span{
    color: var(--color-text-light);
    font-weight: 700;
}

.menu-category a:hover div{
    transition: .2s;
    background-color: var(--bg-item-hover);
}
.menu-list .menu-category{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: var(--bg-header);
    box-shadow: 0 5px 5px -5px #00000033;
}
.menu-category ul{
    margin: auto;
}
.menu-category .menu-category_fixm{
    margin-left: -8px;
    margin-right: -8px;
}
#servicemobile .menu-category .menu-category-item img{
    width: 32px;
}
